<div class="user-filter">
  <mat-form-field appearance="fill">
    <mat-label>{{ "FILTER.USER_TYPE" | translate }}</mat-label>
    <mat-select [(ngModel)]="selectedUserType">
      <mat-option value="driver">
        {{ "FILTER.DRIVER" | translate }}
      </mat-option>
      <mat-option value="student">
        {{ "FILTER.STUDENT" | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="navigateToUser()">
    {{ "BUTTON.SEARCH" | translate }}
  </button>
</div>

<div class="user-grid">
  <mat-card class="user-card" *ngFor="let student of students">
    <img mat-card-image [src]="student.photoUrl" alt="{{ student.name }}" />
    <mat-card-content>
      <h3>{{ student.name }}</h3>
      <p>{{ student.school }}</p>
      <p>{{ student.degree }}</p>
      <button
        mat-button
        color="primary"
        [routerLink]="['/students', student.studentId]"
      >
        {{ "BUTTON.DETAILS" | translate }}
      </button>
    </mat-card-content>
  </mat-card>
</div>
