<div class="container">
  <div class="header-container">
    <h2>{{ "ANALYTICS.TITLE" | translate }}</h2>
    <mat-form-field appearance="outline" class="search-field">
      <mat-label>{{ "ANALYTICS.SEARCH_LABEL" | translate }}</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        [placeholder]="'ANALYTICS.SEARCH_PLACEHOLDER' | translate"
      />
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Nombre del Conductor -->
    <ng-container matColumnDef="driverName">
      <th mat-header-cell *matHeaderCellDef>
        {{ "ANALYTICS.DRIVER" | translate }}
      </th>
      <td mat-cell *matCellDef="let driver">{{ driver.driverName }}</td>
    </ng-container>

    <!-- Desvíos -->
    <ng-container matColumnDef="detour">
      <th mat-header-cell *matHeaderCellDef>
        {{ "ANALYTICS.DETOURS" | translate }}
      </th>
      <td mat-cell *matCellDef="let driver">
        {{ driver.incidentSummary.detour }}
      </td>
    </ng-container>

    <!-- Retrasos -->
    <ng-container matColumnDef="lateness">
      <th mat-header-cell *matHeaderCellDef>
        {{ "ANALYTICS.DELAYS" | translate }}
      </th>
      <td mat-cell *matCellDef="let driver">
        {{ driver.incidentSummary.lateness }}
      </td>
    </ng-container>

    <!-- Exceso de Velocidad -->
    <ng-container matColumnDef="speeding">
      <th mat-header-cell *matHeaderCellDef>
        {{ "ANALYTICS.SPEEDING" | translate }}
      </th>
      <td mat-cell *matCellDef="let driver">
        {{ driver.incidentSummary.speeding }}
      </td>
    </ng-container>

    <!-- Tiempo Promedio de Llegada -->
    <ng-container matColumnDef="averageArrivalTime">
      <th mat-header-cell *matHeaderCellDef>
        {{ "ANALYTICS.AVERAGE_ARRIVAL_TIME" | translate }}
      </th>
      <td mat-cell *matCellDef="let driver">
        {{ getAverageArrivalTime(driver.arrivalTimesAtSchool) }}
      </td>
    </ng-container>

    <!-- Distancia Promedio -->
    <ng-container matColumnDef="averageDistance">
      <th mat-header-cell *matHeaderCellDef>
        {{ "ANALYTICS.AVERAGE_DISTANCE" | translate }}
      </th>
      <td mat-cell *matCellDef="let driver">
        {{ getAverageDistance(driver.distanceTraveled) }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>
