<div class="student-profile" *ngIf="student">
  <h2>{{ 'STUDENT_DETAIL.PROFILE_TITLE' | translate }}</h2>
  <div class="profile-card">
    <img [src]="student.studentPhotoUrl" alt="{{ student.name }} {{ student.lastName }}" />
    <div class="student-info">
      <p>
        <strong>{{ 'STUDENT_DETAIL.NAME' | translate }}:</strong>
        {{ student.name }} {{ student.lastName }}
      </p>
      <p>
        <strong>{{ 'School adress' | translate }}:</strong>
        {{ student.schoolAddress }}
      </p>
      <p>
        <strong>{{ 'Home adress' | translate }}:</strong>
        {{ student.homeAddress }}
      </p>
      <p *ngIf="student.parentProfile">
        <strong>{{ 'Parent' | translate }}:</strong>
        {{ student.parentProfile.fullName }} ({{ student.parentProfile.email }})
      </p>
    </div>
  </div>
</div>
