<div class="header-section">
  <h1>Dashboard</h1>
  <div class="filter-section">
    <mat-form-field appearance="fill">
      <mat-label>Seleccionar Conductor</mat-label>
      <mat-select [(ngModel)]="selectedDriverId" (selectionChange)="onDriverChange()">
        <mat-option value="">Todos los conductores</mat-option>
        <mat-option *ngFor="let driver of drivers" [value]="driver.driverUserId">
          {{driver.driverName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div class="dashboard-layout">
  <div class="left-charts">
    <div class="chart-section">
      <app-line-chart [selectedDriverId]="selectedDriverId"></app-line-chart>
    </div>
    <div class="chart-section">
      <app-bar-chart [selectedDriverId]="selectedDriverId"></app-bar-chart>
    </div>
  </div>
  <div class="right-chart">
    <app-pie-chart [selectedDriverId]="selectedDriverId"></app-pie-chart>
  </div>
</div>