<div class="profile">
  <img
    [src]="photoUrl || 'https://via.placeholder.com/150'"
    alt="Profile Picture"
    class="profile-picture"
  />
  <div class="profile-info">
    <h3>{{ userName }}</h3>
    <p>{{ userRole }}</p>
  </div>
</div>

<mat-nav-list>
  <a mat-list-item routerLink="analytics/dashboard" routerLinkActive="active">
    <mat-icon>dashboard</mat-icon>
    <span>{{ "SIDEBAR.DASHBOARD" | translate }}</span>
  </a>
  <a mat-list-item routerLink="profiles/drivers" routerLinkActive="active">
    <mat-icon>people</mat-icon>
    <span>{{ "SIDEBAR.DRIVERS_STUDENTS" | translate }}</span>
  </a>
  <a mat-list-item routerLink="analytics/reports" routerLinkActive="active">
    <mat-icon>description</mat-icon>
    <span>{{ "SIDEBAR.REPORTS" | translate }}</span>
  </a>
  <a mat-list-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>{{ "SIDEBAR.LOGOUT" | translate }}</span>
  </a>
</mat-nav-list>
